
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>

<h2>Index</h2>

<input type="text" class="form-control" id="txtAutoComplete"/>

<script type="text/javascript">

    $('#txtAutoComplete').autocomplete({

        source: function (request, response) {

            var text = $('txtAutoComplete').val();

            $.ajax({
                type: 'GET',
                url: '/Learn/GetSuggestion',
                data: { text: request.term },
                success: function(data)
                {

                    response($.map(data, function (item) {
                        return {label:item, value:item}
                    }))
                }

            })
        }

        });
</script>